html, body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	background-image: url('./background.png');
	background-size: cover;
}
.signin-form{
	width: 400px;
}
h1{
	font-size: 40px;
	text-align: center;
	margin: 30px 0;
}
label{
	font-size: 20px;
	padding: 15px 0;
}
input{
	font-size: 16px;
	width: 100%;
	padding: 12px 10px;
	border-radius: 5px;
	border: 1px solid white;
	outline: none;
}
button{
	background-color: black;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
}
button:hover{
	background-color: transparent;
	border: 2px solid black;
	color: black;
	cursor: pointer;
}